@{
    ViewData["Title"] = "Home Page";
}


<h3>Raw!!!!!</h3>
<h3>@ViewData["Raw"]</h3>

<h3>Token!!!!!</h3>
<h3>@ViewData["Token"]</h3>

<h2>Enter python: </h2>
<form asp-controller="home" asp-action="Execute" method="post">
    <textarea name="Text1" cols="40" rows="5"> </textarea> <br /><br />

    <input type="submit" value="Execute" /> &nbsp;&nbsp;&nbsp;
</form>

<h4>Result:</h4>
<h4>@Html.Raw("<pre>" + ViewBag.Result + "</pre>")</h4>